	<footer id="footer">
		<div class="text-center padder">
		<p>
			<small>&copy;  2014 <a href='http://www.explocity.com' target="_blank">Explocity India Ltd</a>,   Built By <a href='http://www.haiinteractive.com' target="_blank">Hai Interactive</a></small>
		</p>
		</div>
	</footer>
	<!-- / footer -->
	<!-- Bootstrap -->
	<!-- App -->
</body>
    <script type="text/javascript" src="{$static_server}assets/cache/1409855772bdf579ff61624cf16a201d2ebd757936.js"></script>
        <script type="text/javascript" src="{$static_server}assets/files/ugc/js/user.js"></script>
        <script type="text/javascript" src="{$static_server}assets/files/js/main.js"></script>
        <script type="text/javascript" src="{$static_server}assets/files/js/ajax.js"></script>
</html>