
    {if $sess.user_id == ''}
        <!DOCTYPE html>
        <html lang="en" class=" ">
        <head>
            <meta charset="utf-8" />
            <title>Media Sales Tracker | Explocity</title>
            <meta name="description"    content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
            <meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1" />
            <link rel="stylesheet" href="{$static_server}assets/css/app.v1.css" type="text/css" />
            <link rel="stylesheet" href="{$static_server}assets/css/validation.css" type="text/css" />
        </head>
     {else}
        <!DOCTYPE html><html lang="en" class="app">
        <head>
        <meta charset="utf-8"/>
        <title>Media Sales Tracker | Explocity</title>
        <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" href="{$static_server}assets/css/app.v1.css" type="text/css"/>
        <link rel="stylesheet" href="{$static_server}assets/js/calendar/bootstrap_calendar.css" type="text/css"/>
      <link rel="stylesheet" type="text/css" media="all" href="{$static_server}assets/css/daterangepicker-bs3.css" />

        </head>

    {/if}
        <body class="" >

               <div class="message" style="clear:both; display:none; z-index:999; margin:0 auto !important; text-align:center; float:right;"> </div>
