<!--Content Wrap-->
<div id="content_wrap">	<!--Activity Stats-->

    	        
<div class="one_wrap">
    	<div class="widget">
        	<div class="widget_title"><h5>Add product</h5></div>
            <div class="widget_body_table_top" style="padding:10px;">
			<form name='add_product_form' id='add_product_form' method='POST' >
            <table width="100%">
       	<div class='alert-box error' style="display: none;"></div>
        	<div class='alert-box success' style="display: none;"></div>
                             
              <tr>
                 <td width="26%" height="28" align="left" valign="middle">Product Name :</td>
                 <td width="74%" align="left" valign="middle"><input name="product_name" type="text"  id="product_name" size="30" value="" /></td>
             </tr>
             <tr>
               <td>&nbsp;</td>
               <td><input type="submit" id="add_product_btn" name='add_product_btn' value="Add Product" class='btnLogin' style="float: left;"></td>
             </tr>
                              
            </table>
             </form>
            </div>
        </div>
</div>
	
       
</div>
</section>
</div>
