<!--Content Wrap-->
<div id="content_wrap">	<!--Activity Stats-->

    	        
<div class="one_wrap">
    	<div class="widget">
        	<div class="widget_title"><h5>Change Password</h5></div>
            <div class="widget_body_table_top" style="padding:10px;">
			<form name='change_password_form' id='change_password_form' method='POST' >
            <table width="100%">
        	<div class='alert-box error' style="display: none;"></div>
        	<div class='alert-box success' style="display: none;"></div>
              <tr>
                 <td width="26%" height="28" align="left" valign="middle">New Password :</td>
                 <td width="74%" align="left" valign="middle"> <input type='password' name='new_password' id='new_password' /></td>
             </tr>
             
              <tr>
                 <td width="26%" height="28" align="left" valign="middle">Confirm Password :</td>
                 <td width="74%" align="left" valign="middle"> <input type='password' name='confirm_password' id='confirm_password' /></td>
             </tr>
             
             <tr>
               <td>&nbsp;</td>
               <td><input type='submit' name='add_new_category_btn' id='add_new_category_btn' value='Update' class='btnLogin' style="float: left;"/></td>
             </tr>
                              
            </table>
             </form>
            </div>
        </div>
</div>
	
       
</div>
</section>
</div>
