<!--Content Wrap-->
<div id="content_wrap">	<!--Activity Stats-->


    	        
<div class="one_wrap">
    	<div class="widget">
        	<div class="widget_title"><h5>Forms</h5></div>
            <div class="widget_body_table_top" style="padding:10px;">
           			 <a style="margin:5px;" class="button_small whitishBtn" href="{$base_url}forms/Exec_Form/"><span class="iconsweet">}</span>Exec Form</a>
                     <a style="margin:5px;" class="button_small whitishBtn" href="{$base_url}forms/RO_Form/"><span class="iconsweet">}</span>RO Form</a>
                     <a style="margin:5px;" class="button_small whitishBtn" href="{$base_url}forms/Digital_Form/"><span class="iconsweet">}</span>Digital Form</a>
            </div>
        </div>
</div>
	
       
</div>
</section>
</div>
	<!--Basic Modal Start-->
	<div class="modal hide" id="myModal" >
    <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Select Location</h3>
    </div>
    <div class="modal-body">
              <p>
              <select name="user_city" id="user_city" class="dropdown_location">

                    <option value="">Select</option>

                    <option> Hyderabad</option>

                    <option>Bangalore</option>

                    <option>Mumbai</option>

                    <option>Chennai</option>

                    <option>Kolkata</option>

                    <option>Delhi</option>

                </select>
              </p>
              <p>&nbsp;</p>
             
    </div>
