
<!--Dreamworks Container-->
<div id="dreamworks_container">

	<div id="login">
    	<img src="images/logo.png" />
        <div style="color:#F00; padding:10px;">
                            </div>
        <form action="#" method="post">
        	<div class="input_box"> <span class="iconsweet">a</span><input placeholder="User Name" name="username" type="text" id="username"></div>
            <div class="input_box"> <span class="iconsweet">y</span><input placeholder="Password" name="password" type="password" id="password"></div>
            <div> <a class="forgot_password" href="#">Have you forgotten your password?</a> <input type="submit" value="Login" name="Login"></div>
        </form>
    </div>

</div>
