
<!--Dreamworks Container-->
<div id="dreamworks_container">

	<div id="login">
    	<img src="{$static_server}files/images/logo.png" />
        <div style="color:#F00; padding:10px;">
        </div>
        <form method="post" id="login-form" name="login-form">
        	<span class='alert-box error' style="display: none;"></span>
        	<div class="input_box"> <span class="iconsweet">a</span><input placeholder="User Name" name="user_name" type="text" id="user_name"></div>
            <div class="input_box"> <span class="iconsweet">y</span><input placeholder="Password" name="user_password" type="password" id="user_password"></div>
            <div>  <input type="submit" value="Login" id="login_btn" name="login_btn" style="cursor: pointer;"></div>
        </form>
    </div>

</div>
